server:
  port: 8090

spring:
  application:
    name: ControlSystemSample
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  datasource:
    url: jdbc:mysql://localhost:3306/test
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.example.controlsystemsample.dto
  configuration:
    map-underscore-to-camel-case: true

