<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.controlsystemsample.mapper.DataTablePageMapper">

    <select id="selectUserData1List" parameterType="UserData1ListRequestDTO" resultType="UserData1ListResponseDTO">
        SELECT ID,
               COLUMN_1,
               COLUMN_2,
               COLUMN_3,
               COLUMN_4,
               COLUMN_5,
               COLUMN_6
        FROM user_data_1
        WHERE DELETE_YN = 'N'
          <if test="column1 != null and !column1.isEmpty()">
            AND COLUMN_1 = #{column1}
          </if>
          <if test="column2 != null and !column2.isEmpty()">
            AND COLUMN_2 = #{column2}
          </if>
        LIMIT #{start}, #{length}
    </select>

    <select id="selectCountUserData1List" parameterType="UserData1ListRequestDTO" resultType="int">
        SELECT COUNT(*)
        FROM user_data_1
        WHERE DELETE_YN = 'N'
        <if test="column1 != null and !column1.isEmpty()">
            AND COLUMN_1 = #{column1}
        </if>
        <if test="column2 != null and !column2.isEmpty()">
            AND COLUMN_2 = #{column2}
        </if>
    </select>

    <select id="selectUserData1ListForExcel" parameterType="UserData1ListExcelRequestDTO" resultType="UserData1ListResponseDTO">
        SELECT ID,
        COLUMN_1,
        COLUMN_2,
        COLUMN_3,
        COLUMN_4,
        COLUMN_5,
        COLUMN_6
        FROM user_data_1
        WHERE DELETE_YN = 'N'
        <if test="column1 != null and !column1.isEmpty()">
            AND COLUMN_1 = #{column1}
        </if>
        <if test="column2 != null and !column2.isEmpty()">
            AND COLUMN_2 = #{column2}
        </if>
    </select>

    <select id="selectUserData2List" parameterType="UserData2ListRequestDTO" resultType="UserData2ListResponseDTO">
        SELECT ID,
        TEST_COLUMN_1,
        TEST_COLUMN_2,
        TEST_COLUMN_3,
        TEST_COLUMN_4,
        INSERT_DATE,
        UPDATE_DATE
        FROM user_data_2
        WHERE DELETE_YN = 'N'
        <if test="testColumn1 != null and !testColumn1.isEmpty()">
            AND TEST_COLUMN_1 = #{testColumn1}
        </if>
        <if test="testColumn2 != null and !testColumn2.isEmpty()">
            AND TEST_COLUMN_2 = #{testColumn2}
        </if>
        AND INSERT_DATE BETWEEN #{startDate} AND #{endDate}
        LIMIT #{start}, #{length}
    </select>

    <select id="selectCountUserData2List" parameterType="UserData2ListRequestDTO" resultType="int">
        SELECT COUNT(*)
        FROM user_data_2
        WHERE DELETE_YN = 'N'
        <if test="testColumn1 != null and !testColumn1.isEmpty()">
            AND TEST_COLUMN_1 = #{testColumn1}
        </if>
        <if test="testColumn2 != null and !testColumn2.isEmpty()">
            AND TEST_COLUMN_2 = #{testColumn2}
        </if>
        AND INSERT_DATE BETWEEN #{startDate} AND #{endDate}
        LIMIT #{start}, #{length}
    </select>
</mapper>